* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    font-size: 64px;
    color: #1F3F68;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header {
    background-color: #ccc;
}

.heading {
    border: 1px solid red;
    overflow: hidden;
}
.footer {
    border: 1px solid black;
}

.menu {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    float: left;
}
.new-automation-tools {
    clear: both;
}