* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: left;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container {
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 39px;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.top__text {
    width: 425px;
}

.top__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    margin-top: 86px;
    text-decoration: none;
    display: inline-block;
}

.top__heading {
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    font-size: 64px;
    color: #1F3F68;
    width: 504px;
    margin-bottom: 32px;
}

.footer {
    border: 1px solid black;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}


.footer {
    width: 100%;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}


.input-box {
    float: outside;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}

.card-image {
    align-self: center;
    height: 120px;
}

.project__text {
    margin: 32px auto 64px;
    width: 75%;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.contact-list {
    list-style-type: none;
}

/*Страница контакты*/
.contacts__top__heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}