* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}



.footer {
    border: 1px solid black;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.heading-mane {
    font-size: 64px;
    color: #1F3F68;
}

.heading-contacts-mane {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading-block {
    font-size: 36px;
    text-align: center;
}

.heading-paragraph {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header {
    background-color: #ccc;
}

.heading {
    border: 1px solid red;
}

.menu {

}

.new-automation-tools {
    clear: both;
}

.input-box {
    float: outside;
}
