* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover,  /* при наведении */

button:hover {
    background: lightgreen;
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page {
    flex-grow: 1;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    padding-bottom: 41px;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 39px;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top__text {
    width: 425px;
}

.top__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    margin-top: 86px;
    text-decoration: none;
    display: inline-block;
}

.top__heading {
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    font-size: 64px;
    color: #1F3F68;
    width: 504px;
    margin-bottom: 32px;
}

.footer {
    background: #316099;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.what-we-do {
    padding-top: 64px;
    padding-bottom: 112px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.project {

}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item__margin {
    margin-right: 32px;
}

.project__parent {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.project__text {
    margin: 32px auto 64px;
    width: 75%;
    color: #222222;
    opacity: 1;
    text-align: center;
}


.project__image__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.project__image__text__top {
    top: 64px;
    right: 64px;
}

.project__image__text__parent {
    top: 32px;
    left: 32px;
}

.project__image {
    width: 100%;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}


.input-box {
    float: outside;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-margin {
    margin-left: 32px;
}

.card-link {
    width: 80px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}

.card-arrow {
    margin-left: 15px;
}

.card-image {
    align-self: center;
    height: 120px;
}

.footer {
    width: 100%;
}

.footer__informal {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    padding-top: 91px;
    align-self: center;
}

.footer__heading {
    text-align: left;
    width: 341px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__text {
    width: 495px;
    margin-top: 32px;
    margin-bottom: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__button {
    background: #5A98D0;
    padding: 15px 80px;
    margin-top: 180px;
    margin-bottom: 170px;
    text-decoration: none;
    display: inline-block;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.contact_item {
    padding-left: 20px;
    color: #FFFFFF;
}

.rights {
    padding: 64px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-size: 44%;
        background-position: right 280px;
    }
    .top__text {
        width: 350px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
        max-width: 359px;
    }

    .footer__text {
        width: 336px;
    }
    .footer__button {
        height: 45px;
        margin-top: 164px;
        margin-bottom: 129px;
        padding: 3px 45px;
    }

    .contact-list {
        flex-direction: column;
    }

    .contact_item {
        padding-bottom: 25px;
    }

    .footer__button {
        margin: auto;
        padding: 3px 25px;
    }

}

@media (max-width: 667px)  {
    .header {
        padding-top: 24px;
    }
    .top {
        min-height: 376px;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
    }

    .top__text {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px ;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
        padding-bottom: 32px;
    }

    .card {
        width: 100%;
    }

    .project__text {
        width: 100%;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__image__text {
        font-size: 16px;
        line-height: 19px;
    }

    .project__image__text__top {
        top: 16px;
        right: 16px;
    }

    .project__image__text__parent {
        top: 26px;
        left: 16px;
    }

    .project__item__margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer__heading {
        text-align: center;
    }
    .footer__informal {
        text-align: center;
        flex-direction: column;
    }
    .footer__text {
        margin-bottom: 0;
    }

    .footer__button {
        margin: 40px auto;
        padding: 5px 15px;
    }

    .rights {
        padding: 32px 0;
    }
}

/*Страница контакты*/
.contacts__top__heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}